#footer {
  background: #0a1c2a;
  color: #cbd5e1;
}

.footer h4, .footer h5 {
  font-weight: 600;
}

.footer-link {
  text-decoration: none;
  display: block;
  margin: 5px 0;
  list-style: none;
  color: #cbd5e1;
}

.footer-link:hover {
  color: #e1e7ef;
  font-weight: 600;
}

.footer i {
  font-size: 20px;
  cursor: pointer;
}
